<configuration>
    <property name="LOG_HOME" value="/opt/mangosteenWorkSpace/logs" />
    　　　<appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
    　　　　　　<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
    　　　　　　　　　<fileNamePattern>${LOG_HOME}/mangosteen.%d{yyyy-MM-dd}.log</fileNamePattern>
    　　　　　　　　　<maxHistory>30</maxHistory>
    　　　　　　</rollingPolicy>
    　　　　　　<encoder>
    　　　　　　　　　<pattern>%-4relative [%thread] %-5level %logger{35} - %msg%n</pattern>
    　　　　　　</encoder>
    　　　</appender>

    　　　<root level="info">
    　　　　　　<appender-ref ref="FILE" />
    　　　</root>
</configuration>
