<html xmlns:th="http://www.thymeleaf.org">

<body >
<div th:fragment="header">
<header class="header-desktop2">
    <div class="section__content section__content--p30">
        <div class="container-fluid">
            <div class="header-wrap2">
                <div class="logo d-block d-lg-none">
                    <a href="#">
                        <img th:src="@{/static/images/icon/logo-white.png}" alt="CoolAdmin" />
                    </a>
                </div>

            </div>
        </div>
    </div>
</header>
<!-- END HEADER DESKTOP-->
<!--BREADCRUMB-->
    <div style="height:80px"></div>
</div>
</body>
</html>
