<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:fragment="projectList" class="top-campaign">

            <div class="row">
                <div class="col-md-12">
                    <div class="au-breadcrumb-content">
                        <div class="au-breadcrumb-left">
                            <h3 style="color:#7A746F">
                                <i class="fa fa-align-justify"></i>项目列表</h3>
                        </div>
                        <button class="au-btn au-btn-icon au-btn--green" th:if="${session.user} =='admin'" th:onclick="'javascript:addProject()'">
                            <i class="zmdi zmdi-plus"></i><a th:value="${session.user}">添加项目</a></button>
                    </div>
                </div>
            </div>


    <br>
    <div class="table-responsive table-responsive-data2">
        <table class="table table-data2">
            <tbody>
            <div th:each="project:${projectList}">
            <tr class="tr-shadow">
                <td th:text="${project.projectName}" class="desc" ></td>
                <td class="table-data-feature"><button class="btn btn-outline-success btn-sm" th:onclick="'javascript:toEexcuteProject(this)'">构建</button>
                 &nbsp;<button type="button" class="btn btn-outline-warning btn-sm" th:onclick="'javascript:tobuildHistory(this)'">历史记录</button>
                 &nbsp;<button type="button" class="btn btn-outline-primary btn-sm" th:if="${session.user} == 'admin'" th:onclick="'javascript:toConfigProject(this)'">项目配置</button>
                    &nbsp;<button type="button" class="btn btn-outline-danger btn-sm" th:if="${session.user} == 'admin'" th:onclick="'javascript:delelteProject(this)'">删除</button>
                </td>

            </tr>
            <tr class="spacer"></tr>
            </div>

            </tbody>
        </table>
    </div>

</div>
</body>
</html>
